# ignore all files but the makefile
/*
!impact_tracker.make

# ignore everything in sites directory except impact tracker theme
!sites/
sites/*
!sites/all/
sites/all/*
!sites/all/themes/
sites/all/themes/*
!sites/all/themes/impact/

# ignore everything in profiles directory except impact tracker profile
!profiles/
profiles/*
!profiles/impact_tracker/
